<% bookings.each.with_index 1 do |booking, index| %>
  <tr>
    <td>
      <%= index %>
    </td>
    <td>
      <%= booking.user_name %>
    </td>
    <td>
      <%= booking.time_start %>
    </td>
    <td>
      <%= booking.time_end %>
    </td>
    <td>
      <%= booking.status %>
    </td>
    <td>
      <%= booking.name %>
    </td>
    <td class="action">
      <%= link_to t("view"), edit_admin_booking_path(booking),
        class: "btn btn-primary edit_button" %>
      <% if payment? booking %>
        <%= link_to t("admin.bill.payment"), admin_payment_path(booking),
          method: :put, remote: :true,
          class: "btn btn-primary edit_button",
          data: { confirm: t("admin.booking.confirm_payment") } %>
      <% end %>
    </td>
  </tr>
<% end %>
