<% bookings.each.with_index 1 do |booking, index| %>
  <tr>
    <td>
      <%= index %>
    </td>
    <td>
      <%= booking.user_name %>
    </td>
    <td>
      <%= booking.table_number_of_people %>
    </td>
    <td>
      <%= booking.time_start %>
    </td>
    <td>
      <%= booking.time_end %>
    </td>
    <td>
      <%= booking.status %>
    </td>
    <td>
      <%= booking.name %>
    </td>
    <td>
      <%= booking.address %>
    </td>
    <td>
      <%= booking.phone %>
    </td>
    <td>
      <%= link_to t("edit"), edit_admin_booking_path(booking),
        class: "btn btn-primary" %>
    </td>
  </tr>
<% end %>
