<%= provide :title, t("admin.list_bookings") %>
<div class="row">
  <div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <div class="overflow_hidden">
          <h1 class="float_left"><%= t "list_bookings" %></h1>
        </div>
        <h3 class="title">
          <strong><%= t "admin.staff.total_staff" %></strong>
          <span class="red_color">
            <%= @bookings.total_count ||= 0 %>
          </span>
        </h3>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>
                <%= t "admin.booking.stt" %>
              </th>
              <th>
                <%= t "admin.booking.name" %>
              </th>
              <th>
                <%= t "admin.booking.table" %>
              </th>
              <th>
                <%= t "admin.booking.time_start" %>
              </th>
              <th>
                <%= t "admin.booking.time_end" %>
              </th>
              <th>
                <%= t "admin.booking.status" %>
              </th>
              <th>
                <%= t "admin.booking.receiver" %>
              </th>
              <th>
                <%= t "admin.booking.address" %>
              </th>
              <th>
                <%= t "admin.booking.phone" %>
              </th>
              <th>
                <%= t "admin.booking.actions" %>
              </th>
            </tr>
          </thead>
          <tbody>
            <%= render "booking", bookings: @bookings %>
          </tbody>
        </table>
        <div class="margin_bottom20px float_right">
          <%= paginate @bookings, theme: "twitter-bootstrap-3" %>
        </div>
      </div>
    </div>
  </div>
</div>
