<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
  <div class="item-menu-mqn-main-pro">
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
      <%= link_to dish_path(list_dishes) do %>
        <h1><%= list_dishes.name %></h1>
      <% end %>
      <p><%= list_dishes.description %></p>
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
      <h2>
        <%= number_to_currency list_dishes.price %>
      </h2>
      <%= link_to t("add_to_booking"), root_path,
        remote: true, method: :post, class: "btn2 btn btn-primary" %>
    </div>
  </div>
  <div class="fix-border-pro-menu"></div>
</div>
