<% bills.each.with_index 1 do |bill, index| %>
  <tr>
    <td>
      <%= index %>
    </td>
    <td>
      <%= bill.user_name %>
    </td>
    <td>
      <%= bill.name %>
    </td>
    <td>
      <%= bill.created_at.strftime("%Y-%m-%d") %>
    </td>
    <td>
      <%= link_to t("view"), admin_bill_path(bill),
        class: "btn btn-primary" %>
    </td>
  </tr>
<% end %>
