<tr>
  <td><%= booking.user_name %></td>
  <td><%= booking.name %></td>
  <td><%= booking.phone %></td>
  <td><%= booking.email %></td>
  <td><%= booking.time_start.strftime("%B %e, %Y at %I:%M %p") %></td>
  <td><%= booking.time_end.strftime("%B %e, %Y at %I:%M %p") %></td>
</tr>
