<%= provide :title, t("admin.bill.list_bill") %>
<div class="row">
  <div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <div class="overflow_hidden">
          <h1 class="float_left"><%= t "admin.bill.list_bill" %></h1>
        </div>
        <h3 class="title">
          <strong><%= t "admin.bill.total_bill" %></strong>
          <span class="red_color">
            <%= @bills.total_count ||= 0 %>
          </span>
        </h3>
        <div class="nav search-row" id="top_menu">
          <%= form_tag admin_bills_path, method: :get do %>
            <%= text_field_tag :search, params[:search],
              class: "form-control sinput",
              placeholder: t("admin.bill.enter_name") %>
            <%= button_tag type: "submit", class: "btn btn-primary submit_search",
              name: nil do %>
              <%= t "search" %>
            <% end %>
          <% end %>
        </div>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>
                <%= t "admin.stt" %>
              </th>
              <th>
                <%= t "admin.name" %>
              </th>
              <th>
                <%= t "admin.bill_name" %>
              </th>
              <th>
                <%= t "admin.createdate" %>
              </th>
              <th>
                <%= t "admin.actions" %>
              </th>
            </tr>
          </thead>
          <tbody>
            <%= render "bill", bills: @bills %>
          </tbody>
        </table>
        <div class="margin_bottom20px float_right">
          <%= paginate @bills, theme: "twitter-bootstrap-3" %>
        </div>
      </div>
    </div>
  </div>
</div>
