<tr>
  <td><%= history.name %></td>
  <td><%= history.address %></td>
  <td><%= history.phone %></td>
  <td><%= history.created_at %></td>
  <td><%= link_to t("Show"), history_path(history) %></td>
</tr>
