<% provide :title, "History" %>
<div class="container_fullwidth">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="checkout-page">
          <ol class="checkout-steps">
            <li class="steps active">
              <h3 class="title">
                <strong><%= t "admin.dish.total_booking" %></strong>
                <%= @history.size ||= 0 %>
              </h3>
              <a href="#" class="step-title">
              <%= t "history" %>
              </a>
              <div>
                <%= form_tag histories_path, method: :get, class: "search_booking" do %>
                  <%= text_field_tag :search, params[:search],
                    class: "form-control sinput",placeholder: t("Enter_name") %>
                    <%= button_tag type: "submit", class: "btn btn-primary", name: nil do %>
                  Search
                <% end %>
                <% end %>
              </div>
              <div class="step-description">
              <%= link_to "Back", edit_user_path(current_user), class: "btn btn-info" %>
                <div class="row">
                  <table class="table">
                    <thead>
                      <tr>
                        <th>Name</th>
                        <th>Address</th>
                        <th>Phone</th>
                        <th>Create time</th>
                        <th>Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <%= render partial: "table", collection: @history, as: :history %>
                    </tbody>
                  </table>
                </div>
              </div>
            </li>
          </ol>
        </div>
      </div>
    </div>
    <div class="clearfix">
    </div>
  </div>
</div>
