<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
  <div class="item-featured-pro-main-mqn table">
    <%= link_to table_path(table) do %>
      <%= gravatar_for_table table %>
      <h1>
        <%= t "admin.table.table_for" %>
        <%= table.number_of_people %>
      </h1>
      <p><%= table.name %></p>
      <% if check_type_table? table %>
        <p class="table__vip--type_table">
          <%= t "admin.table.table_vip" %>
        </p>
      <% end %>
      <div class="center">
        <button class="btn btn-primary"><%= t "admin.table.book_now" %></button>
      </div>
    <% end %>
  </div>
</div>
