<section id="item-product-details-shop-mqn">
  <div class="container">
    <div class="col-xs-12 col-sm-5 col-md-6 col-lg-6">
      <div class="img-item-shop-detail item-featured-pro-main-mqn">
        <%= gravatar_for_table @table %>
        <% if check_type_table? @table %>
          <p class="table__vip--type_table">
            <%= t "admin.table.table_vip" %>
          </p>
        <% end %>
      </div>
    </div>
    <div class="col-xs-12 col-sm-7 col-md-6 col-lg-6">
      <div class="text-detail-shops-pro">
        <h1><%= @table.description %></h1>
        <h4>
          <%= t "admin.table.table_for" %>
          <%= @table.number_of_people %>
        </h4>
      </div>
      <%= form_for :reservations, :url => { :controller => "reservations", :action => "create" }, :html => {:method => :post} do |f| %>
        <%= f.hidden_field :table_id, value: @table.id %>

        <div class="col-sm-3">
          <%= f.date_field :date_start, class: "form-control" %>
        </div>

        <div class="col-sm-3">
           <%= f.time_select :time_start, { prompt: {hour: 'Choose hour', minute: 'Choose minute'}, minute_step: 1 }, { class: 'form-control' } %>
        </div>

        <div class="col-sm-3">
          <%= f.submit t("reserve_table"), class: "btn btn-primary submit_btn" %>
        </div>
      <% end %>
      <div class="form-group col-md-12">
        <div class='input-group date' id='datetimepicker1'>
          <input type='text' class="form-control" />
          <span class="input-group-addon">
              <span class="glyphicon glyphicon-calendar"></span>
          </span>
        </div>
      </div>
      <div class="form-group col-md-12">
        <div class='input-group date' id='datetimepicker1'>
          <input type='text' class="form-control" />
          <span class="input-group-addon">
              <span class="glyphicon glyphicon-calendar"></span>
          </span>
        </div>
      </div>
    </div>
  </div>
</section>
