<section id="blog-main-mqn">
  <div class="container">
    <div class="col-md-8">
      <div class="item-post-blog-pro-mqn">
        <div class="item-blog-mqn">
          <%= gravatar_for_table @dish %>
        </div>
        <div class="all_image_table">
          <ul>
            <%= render partial: "dishes/images_detail",
              collection: @support.images, as: :images %>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="like">
            <%= image_tag "icon53.png" %>
            <div class="text-like">
              <p><%= @dish.average_point.round %></p>
            </div>
          </div>
          <div class="media comment-box">
            <div class="row">
              <div class="load_user_comment">
                <%= render partial: "reviews/comment",
                collection: @support.comments, as: :reviews %>
              </div>
            </div>
            <%= render "reviews/form", review: @review %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="date-post-item-blog">
        <div class="item-date-post-blog">
          <h1><%= @dish.created_at.strftime("%d") %></h1>
          <h2><%= @dish.created_at.strftime("%Y") %></h2>
        </div>
      </div>
      <%= link_to t("add_to_booking"), add_to_cart_path(id: @dish.id),
        remote: true,method: :post, class: "btn2 btn btn-primary" %>
      <div class="text-item-blog clear">
        <h3><%= @dish.name %></h3>
        <span><%= t "home.price" %></span>
        <span class="price_color-red"><%= number_format @dish.price %></span>
        <p><%= @dish.description %></p>
      </div>
    </div>
  </div>
</section>
