<%= form_for [:admin, @category] do |f| %>
  <%= render "admin/shared/error_messages", object: f.object %>
  <%= f.label :name %>
  <%= f.text_field :name, class: "form-control" %>
  <%= f.label :status %>
  <%= f.select :status, options_for_select(@category_status), {}, class: "form-control" %>
  <div class="center">
    <%= f.submit yield(:button_text), class: "btn btn-primary" %>
  </div>
<% end %>
