<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item">
      <% if correct_admin? current_admin.role %>
        <%= link_to admin_staffs_path, class: "nav-link" do %>
          <span class="menu-title"><%= t "admin.staffs" %></span>
          <i class="mdi mdi-calendar-blank menu-icon"></i>
        <% end %>
      <% end %>
    </li>
    <li class="nav-item">
      <%= link_to admin_bookings_path, class: "nav-link" do %>
        <span class="menu-title"><%= t "admin.bookings" %></span>
        <i class="mdi mdi-calendar-blank menu-icon"></i>
      <% end %>
    </li>
    <% if correct_admin? current_admin.role %>
      <li class="nav-item">
        <%= link_to admin_menus_path, class: "nav-link" do %>
          <span class="menu-title"><%= t "admin.menu.list_menu" %></span>
          <i class="mdi mdi-calendar-blank menu-icon"></i>
        <% end %>
      </li>
    <% end %>
    <% if correct_admin? current_admin.role %>
        <li class="nav-item">
          <%= link_to admin_categories_path, class: "nav-link" do %>
            <span class="menu-title"><%= t "admin.menu.list_category" %></span>
            <i class="mdi mdi-calendar-blank menu-icon"></i>
        <% end %>
      </li>
    <% end %>
    <% if correct_admin? current_admin.role %>
      <li class="nav-item">
        <%= link_to admin_tables_path, class: "nav-link" do %>
          <span class="menu-title"><%= t "admin.table.list_table" %></span>
          <i class="mdi mdi-calendar-blank menu-icon"></i>
        <% end %>
      </li>
    <% end %>
    <% if correct_admin? current_admin.role %>
      <li class="nav-item">
        <%= link_to admin_dishes_path, class: "nav-link" do %>
          <span class="menu-title"><%= t "admin.dish.list_dish" %></span>
          <i class="mdi mdi-calendar-blank menu-icon"></i>
        <% end %>
      </li>
    <% end %>
    <% if correct_admin? current_admin.role %>
      <li class="nav-item">
        <%= link_to admin_users_path, class: "nav-link" do %>
          <span class="menu-title"><%= t "admin.menu.list_users" %></span>
          <i class="mdi mdi-calendar-blank menu-icon"></i>
        <% end %>
      </li>
    <% end %>
    <% if correct_admin? current_admin.role %>
      <li class="nav-item">
        <%= link_to admin_bills_path, class: "nav-link" do %>
          <span class="menu-title"><%= t "admin.bill.list_bill" %></span>
          <i class="mdi mdi-calendar-blank menu-icon"></i>
        <% end %>
      </li>
    <% end %>
  </ul>
</nav>
