<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title yield :title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "admin/login/admin", media: "all",
      "data-turbolinks-track": "reload" %>
  </head>
  <body>
    <div class="cont">
      <div class="demo">
        <%= yield %>
      </div>
      <div class="info_admin">
        <h1><%= t "admin.name_support" %> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-phone" aria-hidden="true"></i>&nbsp;<%= t "admin.phone" %> </h1>
        <h1><%= t "admin.phone_support" %></h1>
        <h1><%= t "admin.day_support" %></h1>
      </div>
    </div>
  </body>
</html>
