<%= form_for [:admin, @menu] do |f| %>
  <%= render "admin/shared/error_messages", object: f.object %>
  <%= f.label :name %>
  <%= f.text_field :name, class: "form-control" %>
  <%= f.label :status %>
  <%= f.select :status, options_for_select(@menu_status, selected: @menu_status[@menu.status]), {}, class: "form-control" %>
  <%= f.label :dish %>
  <div class="form-group">
    <%= f.collection_check_boxes :dish_ids, @dishes, :id, :name do |b| %>
      <%= b.label class: "label-checkbox" do %>
        <%= b.check_box + b.text %>
      <% end %>
    <% end %>
  </div>
  <div class="center">
    <%= f.submit yield(:button_text), class: "btn btn-primary" %>
  </div>
<% end %>
