<section id="footer-luxury-pro">
  <div class="container">
    <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
      <div class="footer-item-pro-mqn">
        <h1><%= t "home.menu" %></h1>
        <p>
          <%= link_to t("home.home"), root_path %>
        </p>
      </div>
    </div>
    <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
      <div class="footer-item-pro-mqn item-2-email">
        <h1><%= t "home.new_news" %></h1>
        <p><%= t "enter_email" %></p>
      </div>
    </div>
    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
      <div class="footer-item-pro-mqn item-3-app-footer">
        <h1><%= t "home.app_others" %></h1>
      </div>
    </div>
  </div>
  <div class="tit1"></div>
  <div class="tit2">
    <p>
      <span class="footer_info--white"><%= t "home.year" %> ©</span> <%= t "home.luxury" %>
      <span class="footer_info--white"><%= t "home.all_info" %></span>
    </p>
  </div>
  <div class="tit3"></div>
</section>
